<h1>hotels </h1>
{{#each hotels}}
    <h4>{{hotelname}}</h4>
    <p>{{address}}</p>
    <p>{{city}}</p>
{{/each}}

{{!-- <form
  method="DELETE"
  action="/hotels/:id"
>
  <input type="hidden" name="delete_id" value="1" />
  <input type="text" name="delete_name" value="content_or_not" />
  <button name="delete_data">Remove item</button>
</form> --}}